!!! 5
html(lang="en")
	head
		meta(charset='utf-8')
		title= 'Pushing image data to clients using Websockets'

		// css
		link(rel="stylesheet", href="/stylesheets/styles.css")

		// require the main Stitch file
		script(type='text/javascript', src='application.js')

		script(src='/socket.io/socket.io.js')

	body

		header
			h1 Pushing Image Data
			h2
				a(href='http://nodejs.org/') Node
				= " - "
				a(href='http://expressjs.com/') Express
				= " - "
				a(href='http://expressjs.com/') Socket.IO
				= " - "
				a(href='http://jashkenas.github.com/coffee-script/') CoffeeScript
				= " - "
				a(href='https://github.com/visionmedia/jade') Jade
				= " - "
				a(href='http://learnboost.github.com/stylus/') Stylus
				br
				a(href='https://github.com/sectore/node-socket.io-push-image-demo') source code


		!= body

		footer
			p Example by
				= " "
				a(href='http://www.websector.de') Jens Krause
				= " @2011"