.content

	p#info
		= " "
	img#show-img(src='', width='0', height='0')

:coffeescript
	$(document).ready ->
		ShowImageController = require "controllers/showimagecontroller"
		controller = new ShowImageController();